@font-face {
  font-family: franklingothic;
  src: url(../fonts/franklingothicheavyregular.ttf);
}

#Header {
  margin: 0;
  padding: 0;
  border-top: 24px solid #5e5e5e;
  width: 100%;
  height: 118px;
  background-image: url("../img/header/body-bgconcrete.jpg");
  background-size: cover;
  background-repeat: repeat-x;
}

#Header #HeaderLogo {
  padding: 90px 5px 0px 160px;
}

#Header #HeaderMenu {
  margin: 0px;
}

#Header #HeaderMenu ul.navi {
  padding: 0px;
  margin: 0px 0px 0px 0px;
  width: 800px;
  text-align: center;
  position: relative;
}

#Header #HeaderMenu ul.navi li {
  padding: 0 10px 0 10px;
  margin: 0px;
  display: inline;
}

#Header #HeaderMenu ul.navi li a {
  padding: 0px 8px 0px 8px;
  font: 18px franklingothic, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  text-indent: 0px;
  font-weight: bold;
  margin: 0;
  width: inherit;
  letter-spacing: -1px;
  line-height: 30px;
}

#Header #HeaderMenu ul.navi li a :hover {
  color: #FFFF99;
}

#Wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
  font-size: 12px;
}

#Wrapper p {
  font-family: arial;
  text-align: justify;
  text-justify: auto;
  margin: 0px;
  padding: 0px 0px 15px 0px;
  line-height: 20px;
}

#Wrapper h1 {
  padding: 5px 0px 10px 0px;
  margin: 0px;
  font-family: franklingothic, sans-serif;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -1px;
  color: #5e5e5e;
  text-align: left;
  text-transform: uppercase;
}

#Wrapper a {
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
}

#Wrapper a:hover {
  text-decoration: none;
}

#Banner {
  width: 100%;
  height: 240px;
}

#ShopLinkBanner {
  width: 800px;
  height: 84px;
}

#ContentsWrapper {
  width: 800px;
}

#ContentsSub {
  padding: 20px 40px 0px 40px;
}

#Footer {
  width: 800px;
  height: 240px;
  background-repeat: no-repeat;
}

#FooterLink {
  width: 800px;
  background-image: url("");
  height: 100px;
}

#BoxContents {
  padding: 0px 80px 0px 80px;
  margin: 0px;
}

#BoxContents p {
  padding: 0px 0px 10px 0px;
  margin: 0px;
  line-height: 20px;
}

#BoxContents ul {
  padding: 0px 0px 0px 28px;
  margin: 0px;
  list-style-type: disc;
}

#BoxContents li {
  line-height: 20px;
}

#Payment {
  width: 800px;
}

#PaymentTop {
  width: 800px;
  height: 83px;
  background-image: url("../img/wrapper/PaymentPolicyTop.jpg");
}

#PaymentContents {
  width: 800px;
}

#PaymentBottom {
  width: 800px;
  height: 53px;
}

#Shipping {
  width: 800px;
}

#ShippingTop {
  width: 800px;
  height: 83px;
  background-image: url("../img/wrapper/ShippingPolicyTop.jpg");
}

#ShippingContents {
  width: 800px;
}

#ShippingBottom {
  width: 800px;
  height: 53px;
}

#Contacts {
  width: 800px;
}

#ContactsTop {
  width: 800px;
  height: 83px;
  background-image: url("../img/wrapper/ContactsTop.jpg");
}

#ContactsContents {
  width: 800px;
}

#ContactsBottom {
  width: 800px;
  height: 53px;
}

#Returns {
  width: 800px;
}

#ReturnsTop {
  width: 800px;
  height: 83px;
  background-image: url("../img/wrapper/ReturnsTop.jpg");
}

#ReturnsContents {
  width: 800px;
}

#ReturnsBottom {
  width: 800px;
  height: 53px;
}

ul#Thumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#Thumbs li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  background: #ffffff;
  border: 1px solid #cccccc;
  margin: 0px 0px 10px 10px;
  padding: 8px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

ul#Thumbs a {
  float: left;
  display: block;
  width: 150px;
  height: 150px;
  line-height: 100px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

ul#Thumbs a img {
  float: left;
  width: 100%;
  height: 100%;
  border: 0px;
}

ul#Thumbs a:hover {
  overflow: visible;
  z-index: 1000;
  border: none;
}

ul#Thumbs a:hover img {
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200;
  height: 200;
}

ul#Thumbs:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* sub images > mouse over */
/* sub images > clearing floats */
li#Thumbs:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul#Thumbs, li#Thumbs {
  display: block;
}

ul#Thumbs, li#Thumbs {
  min-height: 1%;
}

* html ul#Thumbs, * html li#Thumbs {
  height: 1%;
}

/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */